body {
  margin: 0px;
  padding: 0px;
}

#header {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

@media (max-width: 600px) {
  #header {
    display: block;
    text-align: center;
  }
}
